{% extends 'accounting/main.html' %}
{% load static %}

{% block content %}
{% include 'accounting/navigation.html'%}


<div class="container ">
    <h3>Update Detail Page</h3>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-12">
            <div class="card card-body bg-light">
                <form method="post" action="">
                     {% csrf_token %}
                    <table class="table table-sm" style="text-align: center;">
                        <tr>
                            <th>Name: {{ledger.ledgerDetail}}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            {{ formset.management_form}}
                            {% for formset in formset %}
                            <td>
                                {{formset}}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input class="btn btn-outline-info" type="submit" name="Submit" value="Update values"
                                       style="float:right;">

                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>

</div>
</div>


{% endblock %}